#Base project things
/*
!.gitignore
!README.md
!LICENSE.md

#Code
!src/**

#Jeka and friends
!jekaw*
!jeka/
jeka/*
!jeka/def/
!jeka/wrapper/

!jeka/setup/
jeka/setup/*
!jeka/setup/Build/
!jeka/setup/Fabric/
!jeka/setup/Forge/
!jeka/setup/Merge/
jeka/setup/Merge/